<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/profilePic.jpg" alt="Profile Pic" />
        <h4>Weather app</h4>
        <p>This site uses data from <a href="https://www.mapbox.com/">Mapbox</a> and <a
                href="https://weatherstack.com/">Weatherstack</a>, to get latest
            weather details of the user provided location.</p>
        <p>This site was created by <a href="https://www.linkedin.com/in/abhishek-kanparia-058b5aa9">{{name}}</a>.</p>
    </div>
    {{>footer}}
</body>

</html>